body {
    font-family: 'Century Gothic', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.tab {
    padding: 10px;
    font-weight: bold;
    background-color: #f9f9f9;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    margin: 10px;
}

.tab.selected {
    background-color: #0056b3;
}

h1, h2, h3 {
    color: #0056b3;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, select, .dropdown {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#dynamic-plot {
    margin-top: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}