body {
    font-family: 'Century Gothic', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.tab {
    padding: 12px 20px;
    font-weight: bold;
    background-color: #f9f9f9;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    margin: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.tab_selected {
    background-color: #0056b3;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1, h2, h3 {
    color: #0056b3;
    text-align: center;
}

label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
}

input, select, .dropdown {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0 20px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, select:focus, .dropdown:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
    outline: none;
}

button {
    background-color: #0056b3;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

button:hover {
    background-color: #003d80;
    transform: translateY(-2px);
}

button:active {
    background-color: #002a5e;
    transform: translateY(0);
}

.dropdown {
    border-radius: 8px;
}

.checkbox {
    margin: 10px 0;
}

img {
    border-radius: 8px;
}

.graph-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container input,
.container select,
.container .dropdown,
.container button {
    width: 100%;
    margin-top: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}